In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/user/Documents/data science/practice/prices_split_adjusted.csv')
df = pd.DataFrame(data)

In [3]:
df.head(5)

        date symbol        open       close         low        high   volume
0   1/5/2016   WLTW  123.430000  125.839996  122.309998  126.250000  2163600
1   1/6/2016   WLTW  125.239998  119.980003  119.940002  125.540001  2386400
2   1/7/2016   WLTW  116.379997  114.949997  114.930000  119.739998  2489500
3   1/8/2016   WLTW  115.480003  116.620003  113.500000  117.440002  2006300
4  1/11/2016   WLTW  117.010002  114.970001  114.089996  117.330002  1408600

In [4]:
df.describe()

,open,close,low,high,volume
count,851264.000000,851264.000000,851264.000000,851264.000000,8.512640e+05
mean,64.993618,65.011913,64.336541,65.639748,5.415113e+06
std,75.203893,75.201216,74.459518,75.906861,1.249468e+07
min,1.660000,1.590000,1.500000,1.810000,0.000000e+00
25%,31.270000,31.292776,30.940001,31.620001,1.221500e+06
50%,48.459999,48.480000,47.970001,48.959999,2.476250e+06
75%,75.120003,75.139999,74.400002,75.849998,5.222500e+06
max,1584.439941,1578.130005,1549.939941,1600.930054,8.596434e+08

In [5]:
df.drop('date', axis=1, inplace=True)
df.drop('symbol', axis=1, inplace=True)

In [6]:
u= df.mean()
std = df.std()

In [7]:
df= (df-u)/std

In [8]:
X = df.drop('close', axis = 1 )
Y=df['close']

In [9]:
X.head()

       open       low      high    volume
0  0.777039  0.778590  0.798482 -0.260232
1  0.801107  0.746761  0.789128 -0.242400
2  0.683294  0.679476  0.712719 -0.234149
3  0.671327  0.660271  0.682419 -0.272821
4  0.691671  0.668195  0.680969 -0.320657

In [10]:
df.shape

(851264, 5)

In [11]:
X_train = X[:-200000]
Y_train = Y[:-200000]
X_test = X[-200000:]
Y_test = Y[-200000:]

In [12]:
#u= X_train.mean() 
#std = X_train.std()


#X_train= (X_train-u)/std
#X_test = (X_test-u)/std

In [13]:
#X_train= (X_train-u)/std

In [14]:
#X_train = X_train.values
#X_test = X_test.values

In [15]:
#X_train.head()

In [16]:
X_train.shape

(651264, 4)

In [17]:
X_train.shape, X_test.shape

((651264, 4), (200000, 4))

In [18]:
#plt.scatter(X_train[:, 2], Y_train)

In [19]:
ones = np.ones((X_train.shape[0], 1))

In [20]:
ones.shape

(651264, 1)

In [21]:
X_train = np.hstack((ones,X_train))

In [22]:
X_train

array([[ 1.        ,  0.77703933,  0.77859028,  0.79848187, -0.26023174],
       [ 1.        ,  0.8011072 ,  0.74676096,  0.78912832, -0.24240015],
       [ 1.        ,  0.68329414,  0.67947605,  0.71271885, -0.23414864],
       ...,
       [ 1.        , -0.26186967, -0.26103498, -0.26598052, -0.3809391 ],
       [ 1.        ,  0.18066065,  0.17947277,  0.17521808, -0.22058287],
       [ 1.        , -0.13607832, -0.13788084, -0.11526954,  0.32591366]])

In [23]:
def hypothesis(X,theta):
    y=0
    for i in range (X.shape[0]):    
        y += theta[i]*X[i]
    return y

In [24]:
def cost(X,Y, theta):
    error = 0
    for i in range(X.shape[0]):
        y_p = hypothesis(X[i], theta)
        
        error += (y_p - Y[i])**2
        
    return error/X.shape[0]

In [25]:
def gradient(X, Y, theta):           
    grad = np.zeros((X.shape[1], ))
    
    for j in range(X.shape[1]):  
    
        for i in range(X.shape[0]):   
        
            y_p = hypothesis(X[i], theta)
        
            
            grad[j] += (y_p - Y[i])*X[i,j]
        
    return grad/X.shape[0]

In [26]:
def gradient_descent(X,Y):
    theta = np.zeros((X.shape[1],))
    
    max_epochs = 100 
    epoch_loss= []
    lr= 0.3  
    
    
    for i in range(max_epochs):
        grad= gradient(X,Y,theta)
        
        loss = cost(X,Y,theta)
        epoch_loss.append(loss)
        
        
        
        for j in range (X.shape[1]):
            theta[j] = theta[j]- lr*grad[j]
    
    return theta, epoch_loss

In [ ]:
theta,cost_list= gradient_descent(X_train,Y_train)

In [ ]:
cost_list

In [ ]:
plt.plot(cost_list)